<div id="gameboard">

  <div class="text-center">
    <h1 class="title">Make a word!</h1>
    <p>Click enter to submit</p>
  </div>

  <!-- 031 simple_form (no-model) that will take the ':game_data' and do a get request for '/games/score'. The ':user_answer' will submit the user input, and ':grid_letters' will submit a string of the grid letters. MOVE 2 'games_controller.rb'  -->
  <%= simple_form_for :game_data, url:'/games/score', method:'get', html: { id: 'user_word' }, as: :hiddn do |f| %>
    <%= f.input :user_answer, input_html: {value: @user_answer}  %>
    <%= f.input :grid_letters, input_html: {value: @grid} %>
    <!-- 045 This will pass the time started to the score page. MOVE 2 'score.html.erb' -->
    <%= f.input :time_start, input_html: {value: @time_start} %>
    <%= f.submit "submit", class: "btn btn-primary" %>
  <% end %>

  <%= content_tag :div, html: { id: 'rubyData' }, as: :hidden, data: {temp: @user_answer} do %>
  <% end %>

  <!-- 059 Make an area for the chosen letters. MOVE 2 '_game.scss' -->
  <div class="letters__container">
  </div>

  <div class="grid__container">
    <!-- 025 I pass the @grid (the array of alphabets) into here and display each one in the view. -->
    <% @grid.each do |alphabet| %>
      <!-- 026 I'm going to start applying some basic styling. MOVE 2 '_game.scss' -->
      <p class="font__alphabets--grid"><%= alphabet %></p>
    <% end %>
  </div>

</div>