<!-- 053 IT WORKS!!! The base game at this point is pretty much complete. But I want to add the following features...-->
  <!-- 053a - [COMPLETE] Make it so the letters from the grid are clickable. When clicked they will grey out become unclickable while they also appear in the center of the view port. This is what will be added into the viewport making the input... a hidden? -->
  <!-- 053b - [COMPLETE] Add a 15 second countdown timer and the total user score. -->
    <!-- 053b1 - [COMPLETE] If 15 seconds is up display a modal to say time is up and show a button to play a new game. -->
  <!-- 053c - [COMPLETE] Place the submit button on the upper right corner. -->
  <!-- 053d - [COMPLETE] Upon submit use ajax and display the calculated score in a modal. -->
  <!-- 053e - [COMPLETE] This modal must contain 'play a new game' button -->
  <!-- 053f - [CANCEL] If the player plays a new game, their score must be the sum of all games played so far. -->
    <!-- On second thought I don't think I can do this in this case. No model to store the score. -->
<!-- 054 @terminal / Added all the current changes, comitted them, and pushed them to the origin, merged them and made a new branch to start adding the new features. MOVE 2 'application.js' -->
<h1><%= @result %></h1>
<%= link_to 'Play A New Game', root_path, class: "btn btn-primary" %>




<!-- 035 Checking to see the data is being passed correctly. -->
<% if false %>
<h3><%= @user_word %></h3>
<h3><%= @user_letters %></h3>
<h3><%= @grid_letters %></h3>
<!-- 036 YES! Now I need to check this input to make sure that its... -->
  <!-- 036a Uses the letters from the grid -->
  <!-- 036b Is a valid word (check with le wagon dictionary, upgrade the dictionary later) -->
  <!-- 036c Calculate the score. -->
  <!-- MOVE 2 'games_controller.rb' -->

<!-- 041 Check if everything is in order... -->
<h3><%= @included %></h3>
<h3><%= @valid_word %></h3>
<!-- 042 YES! Just noticed there is no time-tracker implemented so it calcs the score. The general scoring should calc from high to low as follows... -->
  <!-- CALC METHOD = WordLength / Time -->
  <!-- 042a LongWord & ShortTime  -->
  <!-- 042b LongWord & LongTime -->
  <!-- 042c ShortWord & ShortTime -->
  <!-- 042d ShortWord & LongTime -->
<!-- 043 Going to need to start a timer when the page is loaded, and record the time when the user submits the answer. MOVE 2 'games_controller.rb' -->

<!-- 046 Lets make sure the time is being passed correctly. -->
  <!-- 046 ERROR / Its not appearing... MOVE 2 'games_controller.rb' -->
<h3><%= @time_start %></h3>
<h3><%= @time_start.class %></h3>
<!-- 048 Confirmation and calculating. All variables seem in good order. MOVE 2 'games_controller.rb' -->
<h3><%= @time_end %></h3>
<h3><%= @time_end.class %></h3>
<h3><%= (@time_end - @time_start).round(2) %></h3>
<% end %>
